/* * {
    border: 4px solid green;
} */

.page {
    width: clamp(375px, 100%, 1440px);
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* Header */

.header {
    position: relative;
    padding-block-start: 24px;
    background-color: var(--background-color-first);
}

.header__decor-swirl {
    position: absolute;
    top: 60px;
    left: 0;
}

.header__decor-stars {
    position: absolute;
    top: 260px;
    right: 60px;
}

.header__decor-line {
    position: absolute;
    bottom: -80px;
    left: 690px;
}

.header__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 304px;
}

.header__head-first {
    display: flex;
    align-items: center;
    gap: 120px;
}

.header__logo-img {
    width: 74px;
    height: 74px;
}

.header__nav-list {
    display: flex;
    gap: 60px;
}

.header__nav-list-item, .nav-item-text {
    font-weight: var(--fw-bold);
}

.header__nav-list-item-arrow {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__buttons {
    display: flex;
    gap: 20px;
}

.button {
    background-color: var(--default-color);
    border-radius: 8px;
    font-size: 14px;
    font-weight: var(--fw-bold);
    color: #fff;
    box-shadow: 3px 3px 0 0 #00000040;
}

.header__button-recent {
    background-color: transparent;
    min-width: 188px;
    height: 41px;
    color: var(--default-color);
    box-shadow: none;
}

.header__button-subscribe {
    min-width: 136px;
    height: 41px;
}

.header__main {
    padding-block-start: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 96px;
    font-weight: var(--fw-bold);
    line-height: 96px;
    letter-spacing: -3.84px;
}

.header__title-accent {
    color: var(--accent-color);
}

.header__main-subtitle {
    padding-block-start: 40px;
    text-align: center;
    color: var(--accent-color-text);
    font-weight: var(--fw-medium);
    line-height: 25.6px;
}

.header__main-button {
    margin-block-start: 60px;
    min-width: 184px;
    height: 65px;
    box-shadow: 6px 6px 0 0 #00000040;
}

.header__podcasts {
    padding-block-start: 120px;
}

.header__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.header__card {
    position: relative;
    width: 373px;
    height: 373px;
    border-radius: 12px;
}

.header__card:nth-child(1) {
    background-image: url('../img/card-img-two.jpg');
}

.header__card:nth-child(2) {
    background-image: url('../img/card-img-three.jpg');
}

.header__card:nth-child(3) {
    background-image: url('../img/card-img-four.jpg');
}

.header__card-social {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cardone_decorone {
    position: absolute;
    top: 55px;
    left: 155px;
}

.cardone_decortwo {
    position: absolute;
    top: 60px;
    right: 75px;
}

.cardone_decorthree {
    position: absolute;
    top: 150px;
    left: 125px;
}

.cardone_decorfour {
    position: absolute;
    bottom: 65px;
    left: 170px;
}

.cardtwo_decorface {
    position: absolute;
    top: 100px;
    left: 103px;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 36px;
    font-weight: var(--fw-bold);
    line-height: 51px;
    color: var(--background-color-elements);
    letter-spacing: -2.88px;
}

.header__supported {
    padding: 120px 0 140px;
}

.header__separator {
    width: 100%;
    border: 1.5px solid var(--accent-color-text);
}

.header__supported-content {
    padding: 46px 0;
    display: flex;
    align-items: center;
    gap: 200px;
}

.header__supported-text {
    font-size: 23px;
    font-weight: var(--fw-bold);
    line-height: 32px;
    letter-spacing: -0.46px;
}

.supported__list {
    display: flex;
    gap: 150px;
}

/* Talk */

.talk {
    position: relative;
    padding-block-end: 140px;
}

.section__title {
    padding-block-start: 150px;
    font-size: 59px;
    line-height: 71px;
    letter-spacing: -1.18px;
    font-weight: var(--fw-bold);
    text-align: center;
}

.talk__question {
    padding-block-start: 100px;
    display: flex;
    gap: 216px;
}

.talk__question__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.question__item-text {
    font-weight: var(--fw-medium);
    line-height: 25.6px;
    text-align: center;
}

.talk__popular {
    position: relative;
    margin-block-start: 120px;
    width: 100%;
    background-color: var(--background-color-first);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular__decor-star {
    position: absolute;
    top: -60px;
    right: -45px;
}

.popular__decor-line {
    position: absolute;
    bottom: 45px;
    left: -60px;
}

.talk__popular-mark {
    padding-block-start: 40px;
}

.talk__popular-title {
    padding: 40px 170px 0;
    font-size: 37px;
    line-height: 51px;
    text-align: center;
}

.talk__popular__author {
    padding-block: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.popular__author-img {
    border-radius: 50%;
}

.popular__author-name {
    font-size: 14px;
    font-weight: var(--fw-medium);
    line-height: 22px;
}

.popular__author-profession {
    font-size: 14px;
    line-height: 22px;
    font-weight: var(--fw-bold);
}

/* What */

.what {
    position: relative;
    background-color: var(--background-color-secondary);
    padding-block-end: 60px;
}

.what__decor {
    position: absolute;
    top: -75px;
    left: 650px;
}

.what__decor-sparkle {
    position: absolute;
    top: 60px;
    left: 270px;
}

.what__title {
    padding-block-start: 140px;
}

.section__subtitle {
    padding-block-start: 20px;
    font-size: 23px;
    line-height: 36px;
    font-weight: var(--fw-medium);
    color: var(--accent-color-text);
    text-align: center;
}

.what__previews {
    padding-block-start: 100px;
    display: flex;
    gap: 20px;
}

.what__previews-item {
    padding: 40px 40px;
    width: 570px;
    background-color: #fff;
    border-radius: 8px;
}

.what__previews-text {
    padding-block-start: 40px;
    font-size: 22px;
    line-height: 36px;
    font-weight: var(--fw-medium);
}

.what__previews__author {
    padding-block-start: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.previews__author-avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.previews__author-name {
    font-size: 14px;
    line-height: 22px;
    font-weight: var(--fw-medium);
}

.previews__platform {
    display: flex;
    align-items: center;
    gap: 8px;
}

.previews__author-platform {
    width: 16px;
    height: 16px;
}

.previews__author-platformName {
    font-size: 14px;
    line-height: 22px;
    font-weight: var(--fw-bold);
}

.what__arrows {
    padding-block-start: 60px;
    display: flex;
    gap: 25.5px;
}

.arrows__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 37px;
    height: 37px;
    background-color: transparent;
    border: 2.5px solid #000;
    border-radius: 50%;
}

.what__arrows-right {
    border-color: var(--accent-color);
}

/* Membership */

.membership {
    position: relative;
}

.membership > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership__list {
    padding-block-start: 100px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 20px;
}

.membership__list-item {
    width: 373px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membership__list-img {
    width: 78px;
    height: 78px;
}

.membership__decor-title {
    position: absolute;
    top: -35px;
    right: 270px;
}

.membership__list-title {
    padding-block-start: 30px;
    font-size: 22px;
    line-height: 31px;
    font-weight: var(--fw-bold);
}

.membership__list-text {
    padding-block-start: 10px;
    line-height: 25.6px;
    text-align: center;
}

.membership__button {
    margin: 100px 0 140px;
    min-width: 170px;
    height: 62px;
    box-shadow: 6px 6px 0 0 #00000040;
}

/* Recent */

.recent {
    position: relative;
    background-color: var(--background-color-first);
}

.recent .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recent__decor {
    position: absolute;
    top: 210px;
    right: 0;
}

.recent__cards {
    padding-block-start: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recent__cards-item {
    padding: 16px;
    width: 570px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #000;
    border-radius: 12px;
    background-color: #fff;
}

.recent__cards-item--shadow {
    box-shadow: 10px 10px 0 0 var(--background-color-elements);
}

.recent__item-main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.recent__item-number {
    font-weight: var(--fw-bold);
    line-height: 25.6px;
    color: var(--accent-color)
}

.recent__item-title {
    font-size: 22.65px;
    font-weight: var(--fw-bold);
    line-height: 31.71px;
    letter-spacing: -1.41px;
}

.title--red {
    color: var(--accent-color);
}

.recent__item-separator {
    margin: 15px 0 10px 0;
    width: 100%;
    border: 0.5px solid var(--accent-color-text);
}

.recent__item-text {
    font-size: 14px;
    font-weight: var(--fw-medium);
    line-height: 22.4px;
    color: var(--accent-color-text);
}

.recent__item-bottom {
    display: flex;
    justify-content: space-between;
}

.recent__item-categorys {
    display: flex;
    gap: 6px;
}

.recent__item-button-category {
    padding: 6px 12px;
    border: 1px solid var(--accent-color-text);
    border-radius: 4px;
    color: var(--accent-color-text);
    font-size: 12px;
    line-height: 19.2px;
    background-color: transparent;
}

.recent__item-hosted-span {
    font-size: 12px;
    font-weight: var(--fw-bold);
    line-height: 19.2px;
    color: var(--accent-color-text);
}

.recent__button {
    margin: 100px 0 140px;
    min-width: 253px;
    height: 62px;
    box-shadow: 6px 6px 0 0 #00000040;
}

/* Sponsor */

.sponsor {
    position: relative;
}

.sponsor__decor-title {
    position: absolute;
    top: 120px;
    left: 350px;
}

.sponsor__decor-cards-one {
    position: absolute;
    top: 280px;
    right: 50px;
    z-index: -1;
}

.sponsor__list {
    position: relative;
    padding: 100px 0 140px;
    display: flex;
    gap: 20px;
    z-index: 1;
}

.sponsor__list::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: url('/svg/sponsor__decor-cards\(1).svg') no-repeat center;
    top: 10px;
    right: -90px;
}

.sponsor__list::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background: url('/svg/sponsor__decor-cards\(2).svg') no-repeat center;
    bottom: 100px;
    left: -80px;
    z-index: -1;
}

.sponsor__list-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sponsor__list-item-head {
    padding: 60px 40px 30px;
    width: 373px;
    border: 1.5px solid #000;
    border-radius: 8px;
}

.sponsor__list__head-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sponsor__list-item-title {
    font-size: 36px;
    font-weight: var(--fw-bold);
    line-height: 51px;
    letter-spacing: -1.41px;
}

.sponsor__popular-tag {
    padding: 3px 6px;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 12px;
    line-height: 19.2px;
    text-align: center;
    font-weight: var(--fw-bold);
    border-radius: 4px;
}

.sponsor__list-item-text {
    padding-block-start: 20px;
    font-size: 14px;
    line-height: 22px;
    font-weight: var(--fw-medium);
}

.sponsor__list-item-buy {
    padding-block-start: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsor__button {
    min-width: 160px;
    height: 62px;
    box-shadow: 6px 6px 0 0 #00000040;
}

.sponsor__price {
    font-size: 14px;
    line-height: 22.4px;
    font-weight: var(--fw-bold);
}

.sponsor__price-dollar {
    font-size: 22.65px;
    line-height: 31.71px;
    letter-spacing: -1.41px;
    color: var(--accent-color);
}

.sponsor__list-item-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 373px;
    height: 312px;
    padding: 40px 40px 0;
    border: 1.5px solid #000;
    border-radius: 8px;
}

.popular--color {
    background-color: var(--background-color-first);
    border: 1.5px solid var(--accent-color);
}

.sponsor__bottom-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sponsor__list-item-bottom-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: var(--fw-bold);
    color: var(--accent-color-text);
}

.sponsor__bottom-list-item {
    line-height: 25.6px;
    font-weight: var(--fw-medium);
}

.sponsor--bold {
    font-weight: var(--fw-bold);
}

/* Article */

.article {
    position: relative;
}

.article__cards {
    position: relative;
    padding-block-start: 100px;
    display: flex;
    gap: 20px;
}

.article__cards::before {
    content: '';
    position: absolute;
    background-image: url('/svg/article__cards__decor(2).svg');
    width: 185px;
    height: 175px;
    top: 0px;
    left: -80px;
    z-index: 0;
}

.article__cards::after {
    content: '';
    position: absolute;
    background: url('/svg/article__cards__decor.svg') center no-repeat;
    width: 240px;
    height: 240px;
    bottom: -150px;
    right: -140px;
    z-index: 0;
}

.article__cards-item {
    padding: 16px;
    width: 570px;
    border: 2px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.article--boxshadow-accent {
    box-shadow: 10px 10px 0 0 #000;
}

.article__cards-item-category {
    padding-block-start: 40px;
    font-size: 14px;
    line-height: 22.4px;
    font-weight: var(--fw-bold);
    color: var(--accent-color-text);
}

.article__cards-item-name {
    padding-block-start: 6px;
    font-size: 36.65px;
    line-height: 51.31px;
    font-weight: var(--fw-bold);
    letter-spacing: -1.41px;
}

.article--accent-color {
    color: var(--accent-color)
}

.article__cards-item-text {
    padding-block-start: 20px;
    font-size: 14px;
    font-weight: var(--fw-medium);
    line-height: 22.4px;
    color: var(--accent-color-text);
}

.article__list__separator {
    margin-block-start: 26px;
    width: 100%;
    height: 0.5px;
    background-color: var(--accent-color-text);
}

.article__list__bottom {
    padding-block-start: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article__list__bottom-data {
    font-size: 12px;
    line-height: 19.2px;
    font-weight: var(--fw-bold);
    color: var(--accent-color-text);
}

.article .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__button {
    margin: 100px 0 140px;
    min-width: 172px;
    height: 62px;
    box-shadow: 6px 6px 0 0 #00000040;
}

/* App */

.app {
    position: relative;
    background-color: var(--background-color-secondary);
}

.app__decor {
    position: absolute;
    top: -75px;
    left: 700px;
}

.app__decor-trend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 373px;
}

.app__decor-trend-sparkles {
    position: absolute;
    bottom: 290px;
    left: -5px;
    z-index: 1;
}

.app__decor-trend-sparkles-small {
    position: absolute;
    bottom: 340px;
    left: 110px;
    z-index: 1;
}

.app__decor-play {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 373px;
    z-index: 2;
}

.app__decor-play-spirale {
    position: absolute;
    bottom: 0;
    right: 110px;
    z-index: 1;
}

.app .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__beta {
    margin-block-start: 140px;
    padding: 3px 6px;
    color: var(--accent-color);
    font-size: 14px;
    line-height: 22.4px;
    font-weight: var(--fw-bold);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.app__title {
    padding-block-start: 20px;
}

.app__button {
    position: relative;
    margin-block-start: 140px;
    min-width: 210px;
    height: 62px;
    box-shadow: 6px 6px 0 0 #00000040;
}

.app__button::after {
    content: '';
    width: 62px;
    height: 60px;
    background-image: url(/svg/app__decor.svg);
    position: absolute;
    top: -45px;
    right: -45px;
}

.app__apps {
    padding-block-start: 24px;
    font-size: 14px;
    font-weight: var(--fw-medium);
    line-height: 22.4px;
    color: var(--accent-color-text);
}

.app__platforms {
    padding: 10px 0 140px;
    display: flex;
    gap: 20px;
}

.app__platforms-item-img {
    width: 24px;
    height: 24px;
}

/* Footer */

.footer {
    padding-block-start: 140px;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer__up {
    display: flex;
    gap: 124px;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__left-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 25px;
}

.footer__logo {
    width: 74px;
    height: 74px;
}

.footer__data {
    font-size: 12px;
    font-weight: var(--fw-medium);
    line-height: 19.2px;
    color: var(--accent-color-text);
}

.footer__text {
    font-size: 14px;
    font-weight: var(--fw-medium);
    line-height: 22.4px;
    color: var(--accent-color-text);
}

.footer__social {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.footer__social-item-img {
    width: 24px;
    height: 24px;
}

.footer__nav {
    display: flex;
    flex-direction: row;
}

.footer__nav__list {
    display: flex;
    flex-direction: row;
    gap: 93px;
    font-weight: var(--fw-medium);
    line-height: 25.6px;
}

.footer__nav__list-left, .footer__nav__list-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__right {
    display: flex;
    flex-direction: column;
}

.footer__platform-title {
    line-height: 25.6px;
    font-weight: var(--fw-medium);
    color: var(--accent-color-text);
}

.footer__platform {
    padding-block-start: 29px;
    display: flex;
    flex-direction: row;
    gap: 38.5px;
}

.google-logo {
    width: 122px;
    height: 22px;
}

.spotify-logo {
    width: 80px;
    height: 22px;
}

.youtube-logo {
    width: 94px;
    height: 22px;
}

.footer__apps-title {
    padding-block-start: 60px;
    line-height: 25.6px;
    font-weight: var(--fw-medium);
    color: var(--accent-color-text);
}

.footer__apps-list {
    padding-block-start: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__separator {
    margin-block-start: 140px;
    width: 100%;
    height: 0.5px;
    background-color: var(--accent-color-text);
}

.footer__bottom {
    padding-block-start: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__licenses {
    font-size: 12px;
    font-weight: var(--fw-medium);
    line-height: 19.2px;
    color: var(--accent-color-text);
}

.accent--color {
    color: var(--accent-color);
}

.footer__page {
    padding-block-end: 80px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 12px;
    color: var(--accent-color-text);
    line-height: 19.2px;
    font-weight: var(--fw-medium);
}












