:root {
    --main-ff: 'Montserrat Alternates', 'Arial', sans-serif;
    --accent-ff: 'Montserrat Alternates', 'Arial', sans-serif;
    --fw-medium: 500;
    --fw-bold: 700;
    --default-color: #000;
    --accent-color: #cd4631;
    --accent-color-text: #4d4d4d;
    --background-color-first: #f7ede8;
    --background-color-secondary: #edf3f7;
    --background-color-elements: #81adc8;
}